@model  Sklep_MJ.ViewModels.OrderFinishedEmail
Content-Type: text/html; charset=utf-8

<html>
<body>

    @Html.EmbedImage("~/Content/Images/logo.png")

    <p>Witaj ponownie</p>
    <p>Zrealizowaliśmy Twoje zamówienie o nr @Model.OrderId</p>
    <p>Możesz już korzystać z zakupionych przez siebie kursów</p>

    <p>Dziękujemy i zapraszamy ponownie!</p>
    <p>Sklep MJ</p>
</body>
</html>











