
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div id="ListaKategoriZawartosc">
    @Html.Action("CategoriesMenu")
    <div id="KategorieListPrawaSekcja">
        <div id="Breadcrumb">
            <img src="../Content/Images/dommaly.png" />
            <a href="link">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>

        <div id="SekcjaListaKategori">
            @Html.Partial("_CoursesList")
        </div>

    </div>
</div>

@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
}